 <footer class="bg-dark">
                <div class="container">
                  <div class="row">
                    <h5 class="text-warning fst-italic">Siguenos en nuestras redes sociales!</h5>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-6 d-flex gap-5">
                     <a href="" class="link text-primary"><i class="bi bi-facebook fs-1"></i></a>
                     <a href="" class="link" style="color: rgb(240, 7, 46);"><i class="bi bi-instagram fs-1"></i></a>
                     <a href="" class="link text-white"><i class="bi bi-tiktok fs-1"></i></a>
                     
                    </div>
                  </div>
                    <h3 style="color: white;" class="mt-5">Ubicación</h3>
                    <div class="container">
                      <div class="row">
                          <div class="col">
                              <div class="map-container">
                                  <iframe 
                                      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d945.9745909176504!2d-69.85166815215347!3d18.488262403658577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sdo!4v1741822292893!5m2!1ses!2sdo" 
                                      allowfullscreen 
                                      loading="lazy"
                                      referrerpolicy="no-referrer-when-downgrade">
                                  </iframe>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center bg-secondary mt-3">
                 <div class="col-lg-7 col-8">
                  <p class="text-warning lead">Developed by JoelTechRd</p>
                 </div>
                  </div>               
                  </div>
            </footer>
