<app-header></app-header>
<main class="bg-dark">
     <section class="start">
        <div class="contenedor-texto" style="background-image: url('/Images/rest.jpg');">
          <div class="row justify-content-end">
            <div class="col-12">         
                <h2 style="color: rgb(20, 16, 16);">
                  DEMO            
                </h2>
            </div>
          </div>
        </div>
     </section>
     <section class="categorias" id="menu">
         <div class="row justify-content-center">
             <div class="col-2">
                <h3 class="text-warning fst-italic mt-3">Menu</h3>
             </div>
         </div>
         <div class="container">
            <app-categories></app-categories>
         </div>
     </section>
     <section id="nosotros">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-7">
      <h2 class="text-warning mt-5">Quienes somos?</h2>
     </div>
    </div>
    <div class="row justify-content-center">
     <div class="col-8">
      <img class="ps-2 mt-4" style="border-radius: 50%;" src="/Images/logonew.jpg" alt="">
     </div>
   </div>
   <div class="row justify-content-center text-warning text-center">
     <div class="col-10">
      <p class="lead" data-aos="zoom-in-down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe, at unde vero nesciunt, iusto hic tenetur incidunt iste fuga voluptatum cumque veniam ipsam! Mollitia corporis dignissimos assumenda ut quam.
      Corporis maiores velit quae dolores nam officiis nulla, iure blanditiis aperiam earum, aliquid iste inventore omnis eos laudantium voluptatibus dolorem error non totam? Iure quod, animi mollitia sapiente aut nisi!</p>
     </div>
   </div>
     </div>
     </section>
</main>
<router-outlet></router-outlet>
<hr class="text-white">
<app-footer></app-footer>

